@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
input,
textarea,
ul {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
.wrapper {
  display: grid;
  grid-template-columns: 1fr 6fr;
  background-color: rgb(103, 72, 226);
}
aside {
  padding: 1.5rem;
  color: white;
  position: sticky;
  top: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.logo {
  font-weight: 400;
  font-size: 1.7rem;
}
.textFooter {
  color: rgb(182, 178, 199);
  font-size: 0.7rem;
}

main {
  background-color: white;
  margin: 1rem;
  border-radius: 2rem;
  padding: 2rem;
}
/*
body {
  background-color: rgb(103, 72, 226);
s
}

.produitTitre,
.bouttonAddProduct,
.produitPrix,
.titrePrincipal {
  color: white;
}
nav {
  background-color: white;
  padding: 0;
  margin: 0;
}
ul {
  display: flex;
  flex-direction: column;
}
li {
  list-style: none;
  border: 1px solid rgb(103, 72, 226);
  border-radius: 10%;
}
a {
  text-decoration: none;
}
button {
  background-color: rgb(103, 72, 226);
  height: 60px;
  width: 100px;
  border-radius: 15%;
}
.titleNav {
  color: rgb(103, 72, 226);
}
section {
  height: auto;
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border-radius: 10px;
}
img {
  height: 250px;
}
h4,
h3 {
  color: rgb(103, 72, 226);
}
.buttonProduct {
  border: 1px solid rgb(103, 72, 226);
  border-radius: 10%;
  width: 200px;
}
section > button {
  background-color: rgb(103, 72, 226);
  color: white;
  width: 200px;
}
.bouttonAddProduct {
  color: white;
  width: 200px;
}
main {
  display: flex;
  flex-direction: row;
}
*/
